body {
	padding: -50px;
 background-image: url("https://ak.picdn.net/shutterstock/videos/31027246/thumb/12.jpg");
  background-size: cover;
  background-attachment: fixed;
}


.nav-item {
padding-right: 90px;
font-size: 13px;
 }


.jumbotron {
	
  margin: 100px;
	margin-top: 30px;
}


.en {
  margin-top: 80px;

}

.avatar {
  display: block;
  max-width: 10%;
  height: auto;
  border-radius: 50%;

}

h1 {
	color: black;
    background-color: #fff2ac;
    background: linear-gradient(180deg, rgba(255,255,255,0) 50%, #FFD0AE 50%);
display: inline;

}

.card-img-top {
	width: 350px;
	height:200px;

}

.me {
  padding-top: 20px;
  font-family: monospace;
}

.container {
  font-family: monospace;
}

footer {
  padding-bottom: 10px;
  text-align: right;
  color: gray;
  font-family: monospace;
}
footer a {
  color: #70726F;
  padding:10px;
  font-size: 12px;
  margin-top: 20px;

}

footer a:hover {
  color: black;
}

.my-element {
  display: inline-block;
  margin: 0 0.5rem;

  animation: zoomIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}




.nav-link {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
.nav-link:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav-link:hover:after { 
  width: 100%; 
  left: 0; 
}

h4 {
  padding-bottom: 80px;
  padding-top: 50px;
  text-align: center;
  font-size: 50px;
  text-decoration-line: overline underline;
  text-decoration-style: wavy;
  font-family: monospace;

}

.container {
  margin-top: 30px;
}

.box-shadow-hover:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.pointer {
  cursor: pointer;
}

img {
  width: auto;
  max-height: 100px;
}

/* JSFiddle display layout adjustment only */
.container {
  margin-bottom: 2rem;
}